/* chart styles */
.orgchart {
  box-sizing: border-box;
  display: inline-block;
  user-select: none;
  border: 1px dashed rgba(0, 0, 0, 0);
  padding: 20px 20px 0 20px;
}

$link-line-width: 2px;
$vertical-line-height: 30px;
$expand-size: 16px;
$link-line-color:skyblue;
$item-margin: 60px;

.children {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

// 根节点 不显示向上连接线
.orgchart>.children>.org>.node-container>.line-to-parent {
  display: none;
}

// 唯一子节点 不显左右连接线
.children .org:only-child>.line-to-sibling {
  display: none;
}

.org>.children {
  margin-top: 2*$vertical-line-height;
}

.children>.org {

  // todo 设置最后一层的边距
  &:not(:first-child),
  &:not(:last-child) {}

  &:first-child {}

  &:last-child {}
}

.org {
  position: relative;

  &>.line-to-sibling {
    position: absolute;
    top: -$vertical-line-height;
    left: 0;
    width: 100%;
    border-top: $link-line-width solid $link-line-color;
    box-sizing: border-box;
  }

  &:first-child>.line-to-sibling {
    left: 50%;
  }

  &:last-child>.line-to-sibling {
    width: 50%;
  }
}

.node-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  transition: transform 0.3s, opacity 0.3s;

  &>.line-to-parent {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: $link-line-width;
    height: $vertical-line-height;
    background-color: $link-line-color;
  }

  &>.line-to-children {
    position: absolute;
    top: 100%;
    left: 50%;
    width: $link-line-width;
    height: $vertical-line-height;
    background-color: $link-line-color;
  }

  &>.expand {
    position: absolute;
    top: 100%;
    left: 50%;
    width: $expand-size;
    height: $expand-size;
    box-sizing: border-box;
    transform: translate(-$expand-size/2, -$expand-size/2);
    border-radius: 50%;
    background-color: hotpink;
    z-index: 999;
    cursor: pointer;
  }
}
